.container {
  margin-top: 10px;
}

.cols {
  display: flex;
  padding: 20px;
}

.image {
  margin: auto;
  padding: 10px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.details {
  margin: auto;
  margin-left: 50px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 3px solid black;
  border-radius: 10px;
}

.indent {
  text-indent: 50px;
}

.stats {
  margin: auto;
  padding: 20px;
  border: 2px solid black;
  border-radius: 10px;
}
